<div class="row">
	<div class="col-lg-12">
		<nb-card> <nb-card-header class="demo-rating">Member Detail
		Form 
		<toaster-container [toasterconfig]="config"></toaster-container>
		  <nb-search type="rotate-layout"  tag="searchMemberTag"
		   class="btn-primary btn-sm " placeholder="Portal Id" hint="Search by Portal Id Only"></nb-search>
		</nb-card-header> <nb-card-body>

		<div class="input-group">
			<span class="input-group-addon success">@</span> <input type="text"
				class="form-control" placeholder="Full Name" [(ngModel)]="mfullName" />
		</div>

		<div class="input-group mail-btn-group">
			<span class="input-group-prepend">
				<button class="btn btn-primary btn-icon input-group-text">
					<i class="ion-ios-email-outline"></i>
				</button>
			</span> <input type="text" class="form-control" placeholder="Email Id"
				[(ngModel)]="memailId"> <span class="input-group-append">
				<button class="btn btn-primary input-group-text">
					@example.com</button>
			</span>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Potal Id" class="form-control"
					[(ngModel)]="mportalId" />
			</div>
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Employee / SAP Id"
					class="form-control" [(ngModel)]="memployeeId" />
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="number" placeholder="Experience In Years"
					class="form-control" [(ngModel)]="mexperience" />
			</div>
			<div class="col-md-6  col-sm-6">
				<div class="form-group">
					<div class="dropdown" ngbDropdown>
						<button class="btn btn-primary" type="button" ngbDropdownToggle >
							{{ genderComboPick? genderComboPick : genderList[0]}}</button>
						<ul ngbDropdownMenu class="dropdown-menu">
							<li class="dropdown-item" *ngFor="let p of genderList"
								(click)="setSelectdGender(p)">{{ p}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Designation" class="form-control"
					[(ngModel)]="mdesignation" />
			</div>
			<div class="col-md-6  col-sm-6">
				<div class="form-group">
					<div class="dropdown" ngbDropdown>
						<button class="btn btn-primary" type="button" ngbDropdownToggle >
							{{ managerComboPick? managerComboPick : managerCheckList[0]}}</button>
						<ul ngbDropdownMenu class="dropdown-menu">
							<li class="dropdown-item" *ngFor="let p of managerCheckList"
								(click)="setSelectedManagerPick(p)">{{ p}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="input-group">
			<textarea rows="5"
				placeholder="About The Member, Comments / Appreciations If Any Included"
				class="form-control" [(ngModel)]="mcomments"></textarea>
		</div>
		<!-- <div class="input-group input-group-sm">
			<input type="text" placeholder="Small Input" class="form-control" />
		</div> -->
		<div class="input-group input-group-lg">
			<input type="text" placeholder="Member Interest's & Hobbies"
				class="form-control" [(ngModel)]="mhobbies" />
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-header>Member Scores</nb-card-header> <nb-card-body>

		<div class="row full-name-inputs">
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Month 1 Score" class="form-control"
					[(ngModel)]="mmonth1score" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Month 2 Score" class="form-control"
					[(ngModel)]="mmonth2score" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Month 3 Score" class="form-control"
					[(ngModel)]="mmonth3score" />
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Value Add Score"
					class="form-control" [(ngModel)]="mvalueAddScore" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="On Quality Score"
					class="form-control" [(ngModel)]="monQualityScore" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="On Time Score" class="form-control"
					[(ngModel)]="monTimeScore" />
			</div>
		</div>

		</nb-card-body> </nb-card>

		<nb-card> <nb-card-header>Team Details</nb-card-header> <nb-card-body>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Project Details"
					class="form-control" [(ngModel)]="mprojectDetails" />
			</div>
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Team Name" class="form-control"
					[(ngModel)]="mteamName" />
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-md-12  col-sm-12">
				<div class="form-group">
					<label class="form-control-label">Select Manager From The
						Drop Down List</label>
					<div class="dropdown" ngbDropdown>
						<button class="btn btn-primary" type="button" ngbDropdownToggle >
							{{ position? position.name : managerDetails[0].name}}</button>
						<ul ngbDropdownMenu class="dropdown-menu">
							<li class="dropdown-item" *ngFor="let p of managerDetails"
								(click)="setSelectedManager(p)">{{ p.name }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-body class="demo-rating">
		<span class="rating-header">Rating</span>
		<div>
			<ngb-rating [(rate)]="starRate" max=5 [(ngModel)]="mrating">
			<ng-template let-fill="fill"> <span class="star fill"
				[class.filled]="fill === 100"> <i class="ion-android-star"
				*ngIf="fill === 100"></i> <i class="ion-android-star-outline"
				*ngIf="fill !== 100"></i>
			</span> </ng-template> </ngb-rating>
			<span class="current-rate">{{ starRate }}</span>
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-body class="demo-rating">
		<span class="rating-header">Upload Member Image</span>
		<div>
			<input type="file" class="btn btn-success"
				placeholder="Browse &
				UpLoad Image" accept="image/*"
				(change)="handleFileEvent($event)" [(ngModel)]="mimageFile" />
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-body class="demo-rating">
		<span class="rating-header">Form Actions</span>
		<div>
			<button class="btn btn-danger" (click)="clearForm($event)">Clear
				Form</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-success" (click)="sendForm($event)">Send</button>
		</div>
		</nb-card-body> </nb-card>

	</div>
</div>
