<div class="row">
	<div class="col-lg-12">
		<nb-card> <nb-card-header class="demo-rating">Member
		Detail Form <toaster-container [toasterconfig]="config"></toaster-container>
		<nb-search type="rotate-layout" tag="searchMemberTag"
			class="btn-primary btn-sm " placeholder="Portal Id"
			hint="Search by Portal Id Only"></nb-search> </nb-card-header> <nb-card-body>

		<div class="input-group">
			<span class="input-group-addon success">@</span> <input type="text"
				class="{{isFormSubmitted ? mfullName ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
				placeholder="Full Name" [(ngModel)]="mfullName" />
		</div>

		<div class="input-group mail-btn-group">
			<span class="input-group-prepend">
				<button class="btn btn-primary btn-icon input-group-text">
					<i class="ion-ios-email-outline"></i>
				</button>
			</span> <input type="email"
				class="{{isFormSubmitted ? memailId ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
				placeholder="Email Id" [(ngModel)]="memailId"> <span
				class="input-group-append">
				<button class="btn btn-primary input-group-text">
					@example.com</button>
			</span>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Potal Id"
					class="{{isFormSubmitted ? mportalId ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mportalId" />
			</div>
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Employee / SAP Id"
					class="{{isFormSubmitted ? memployeeId ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="memployeeId" />
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="number" placeholder="Experience In Years"
					class="{{isFormSubmitted ? mexperience ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mexperience" />
			</div>
			<div class="col-md-6  col-sm-6">
				<div class="form-group">
					<div class="dropdown" ngbDropdown>
						<button
							[ngClass]="isFormSubmitted ? genderComboPick && genderComboPick !== genderList[0] ? 
							  dropDownClass : dangerDropDownClass : dropDownClass"
							type="button" ngbDropdownToggle>{{ genderComboPick?
							genderComboPick : genderList[0]}}</button>
						<ul ngbDropdownMenu class="dropdown-menu">
							<li class="dropdown-item" *ngFor="let p of genderList"
								(click)="setSelectdGender(p)">{{ p}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Designation"
					class="{{isFormSubmitted ? mdesignation ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mdesignation" />
			</div>
			<div class="col-md-6  col-sm-6">
				<div class="form-group">
					<div class="dropdown" ngbDropdown>
						<button
							[ngClass]="isFormSubmitted ? managerComboPick && managerComboPick !== managerCheckList[0] ? 
							  dropDownClass : dangerDropDownClass : dropDownClass"
							type="button" ngbDropdownToggle>{{ managerComboPick?
							managerComboPick : managerCheckList[0]}}</button>
						<ul ngbDropdownMenu class="dropdown-menu">
							<li class="dropdown-item" *ngFor="let p of managerCheckList"
								(click)="setSelectedManagerPick(p)">{{ p}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="input-group">
			<textarea rows="5"
				placeholder="About The Member, Comments / Appreciations If Any Included"
				class="{{isFormSubmitted ? mcomments ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
				[(ngModel)]="mcomments"></textarea>
		</div>
		<div class="input-group input-group-lg">
			<input type="text" placeholder="Member Interest's & Hobbies"
				class="{{isFormSubmitted ? mhobbies ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
				[(ngModel)]="mhobbies" />
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-header>Member Scores</nb-card-header> <nb-card-body>

		<div class="row full-name-inputs">
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Month 1 Score"
					class="{{isFormSubmitted ? mmonth1score ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mmonth1score" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Month 2 Score"
					class="{{isFormSubmitted ? mmonth2score ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mmonth2score" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Month 3 Score"
					class="{{isFormSubmitted ? mmonth3score ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mmonth3score" />
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="Value Add Score"
					class="{{isFormSubmitted ? mvalueAddScore ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mvalueAddScore" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="On Quality Score"
					class="{{isFormSubmitted ? monQualityScore ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="monQualityScore" />
			</div>
			<div class="col-sm-4 input-group">
				<input type="text" placeholder="On Time Score"
					class="{{isFormSubmitted ? monTimeScore ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="monTimeScore" />
			</div>
		</div>

		</nb-card-body> </nb-card>

		<nb-card> <nb-card-header>Team Details</nb-card-header> <nb-card-body>

		<div class="row full-name-inputs">
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Project Details"
					class="{{isFormSubmitted ? mprojectDetails ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mprojectDetails" />
			</div>
			<div class="col-sm-6 input-group">
				<input type="text" placeholder="Team Name"
					class="{{isFormSubmitted ? mteamName ? 'form-control' : 'form-control form-control-danger' : 'form-control'}}"
					[(ngModel)]="mteamName" />
			</div>
		</div>

		<div class="row full-name-inputs">
			<div class="col-md-12  col-sm-12">
				<div class="form-group">
					<label class="form-control-label">Select Manager From The
						Drop Down List</label>
					<div class="dropdown" ngbDropdown>
						<button class="btn btn-primary" type="button" ngbDropdownToggle>
							{{ position? position.name : managerDetails[0].name}}</button>
						<ul ngbDropdownMenu class="dropdown-menu">
							<li class="dropdown-item" *ngFor="let p of managerDetails"
								(click)="setSelectedManager(p)">{{ p.name }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-body class="demo-rating">
		<span class="rating-header">Rating</span>
		<div>
			<ngb-rating [(rate)]="starRate" max=5 [(ngModel)]="mrating">
			<ng-template let-fill="fill"> <span class="star fill"
				[class.filled]="fill === 100"> <i class="ion-android-star"
				*ngIf="fill === 100"></i> <i class="ion-android-star-outline"
				*ngIf="fill !== 100"></i>
			</span> </ng-template> </ngb-rating>
			<span class="current-rate">{{ starRate }}</span>
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-header class="demo-rating">
		<span class="rating-header">Upload Member Image</span> </nb-card-header> <nb-card-body
			class="demo-rating"> <img class="img"
			[src]="imageFileData" alt="Profile Picture" />

		<div>
			<input type="file" class="btn btn-success"
				placeholder="Browse &
				UpLoad Image" accept="image/*"
				(change)="handleFileEvent($event)" [(ngModel)]="mimageFile" />
		</div>
		</nb-card-body> </nb-card>

		<nb-card> <nb-card-body class="demo-rating">
		<span class="rating-header">Form Actions</span>
		<div>
			<button class="btn btn-danger" (click)="clearForm($event)">Clear
				Form</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-success" (click)="sendForm($event)">Send</button>
		</div>
		</nb-card-body> </nb-card>

	</div>
</div>
