<nb-card>
  <nb-card-header>
    MPS Team Data &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)" 
  style="border-radius: 15px; height: 30px;width: 240px;align-self: flex-end; align-content: flex-end;right: 0px;">
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
    (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
